{%extends "layout.njk"%}

{%block head%}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Musics</title> 
{%endblock%}

{%block content%}
    <section class="cards">
        {%for music in musics%}
            <div class="card" id="{{music.id}}">
                <div class="card_image {{ 'featured-wrapper' if music.featured }} ">
                    <img src="{{music.image}}" alt="Image of {{music.title}}">
                    {%if music.featured%}
                        <div class="featured">
                            <p>Featured</p>
                        </div>
                    {%endif%}
                </div>
                <div class="card_title">
                    <h1>{{music.title}}</h1>
                </div>
                <div class="card_info">
                    <p>{{music.info}}</p>
                    <p class="card_platform">{{music.platform}}</p>
                </div>
            </div>
    {%endfor%}
    </section>

    <div class="modal_overlay">
        <div class="modal">
            <i class="material-icons">close</i>
            <div class="modal_content">
                <iframe src=""></iframe>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
{%endblock%}