{%extends "layout.njk"%}

{%block head%}
    <title>404 - nothing here</title>
{%endblock%}

{%block content%}
 <div class="container">
     <img class="giphy" src="https://media.giphy.com/media/LoUSSkods6bVIUvWvd/giphy.gif" alt="giphy">
     <h1>Error 404</h1>
     <h2>Nothing but flowers here, sorry</h2>
 </div>
{%endblock%}