@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body {
    background-color: #3b5d57;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu {
    text-align: center;
    padding: 3rem;
    background-color: #334f49;
    border-bottom: 1px solid #333;
}

.menu a {
    text-decoration: none;
    font-size: 3rem;
    line-height: 4rem;
    margin: 0 10px;
    color: white;
}

.menu a:hover {
    color: #04b2f7;
    transition: 300ms;
}

.container {
    text-align: center;
    color: white;
}

.profile {
    height: 30rem;
    border-radius: 50rem;
    margin-top: 8rem;
}

.container h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.container h2 {
    font-size: 2.2rem;
    line-height: 3.2rem;
    font-weight: bold;
}

.container p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    max-width: 30%;
    margin: 3% auto;
}

.container a {
    color: wheat;
}

.footer {
    text-align: center;
    margin-top: 5%;
}

.footer a {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: white;
    text-decoration: none;
    margin: 0px 1rem;
    border-bottom: 2px solid #04b2f7;
}

.footer a:hover{
    color: #04b2f7;
    transition: 300ms;
}

/* //CARDS\\ */

.cards{
    width: 60vw;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    color: white;
}

.card {
    background-color: #437775;
    cursor: pointer;
    display: grid;
}

.card img {
    width: 100%;
}

.card_title,
.card_info {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 1.2rem;
}

.card_info {
    font-size: 1.2rem;
    line-height: 2.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card_platform{
    background-color: #45798b;
    border-radius: 2rem;
    text-align: center;
    filter: brightness(90%);
}

/* //MODAL\\ */

.modal_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    width: 52%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 15vh auto;
    position: relative;
    border-radius: 20px;
}

.material-icons {
    position: absolute;
    top: 2px;
    right: 6px;
}

.material-icons:hover {
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 90%;
    margin-top: 25px;
    position: absolute;
    border: none;
}

/* //EXIBIR MODAL\\ */

.modal_overlay.active{
    opacity: 1;
    visibility: visible;
}

/* //not found page\\ */

.giphy{
    margin-top: 10%;
}

/* //Featured\\ */

.featured-wrapper{
    position: relative;
}

.featured {
    background-color: #d04a4a;
    padding: 0.3rem 0.8rem;
    border-radius: 16px;
    position: absolute;
    top: -0.8rem;
    left: 0.3rem;
}

/* //media queries\\ */
@media(max-width:768px){
    .container p {
        font-size: 1.3rem;
        line-height: 2.3rem;
        max-width: 60%;
        margin: 3% auto;
    }

    .footer a {
        font-size: 1.2rem;
        line-height: 2.6rem;
    }
}

@media(max-width:530px){
    .modal {
        width: 70%;
        height: 70%;
    }
}


@media(max-width:430px){
    .cards{
        width: 80vw;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
